.main {
    margin: 0 auto;
    margin-left: auto !important; /*Had to do this to prevent bootstrap for overriding*/
    margin-right: auto !important;
    max-width: 75% !important;
}

.main-container {
    width: 100%;
    margin-top: 20px;
}

.main-container div {
    padding-right: 7px;
    padding-left: 9px;
}

td {
    white-space: normal !important; 
    word-wrap: break-word;  
}

table {
    table-layout: fixed;
    font-size: 13px;
}

.borderless td, .borderless th {
    border: none;
}

/*Specifics*/
.ticker-container {
    width: 100%;
    background-color: #1c252e;
    font-size: 13px;
    text-align: center;
}

.ticker-container-col {
    background-color: #1c252e;
    margin-left: 10px !important;
    margin-top: 25px;
    color: #c4c7c9;
    width: 35%;
}

.btc-logo {
    height: 70px;
    width: 70px;
}
.feature-container {
    background-color: #1c252e;
}

.main-font-color {
    color: #a4c7c9;
}

.feature-container section div a {
    display: flex;
    color: #c4c7c9;
}

.feature-container section div a[data-toggle="collapse"].collapsed .rotate {
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
 }

 .accordion {
    margin: 11px 17px;
    color: #81868b;
 }

 .orderbook-controls-container {
     float: right;
     margin: 10px;
 }
 .orderbook-controls-container svg {
     margin: auto 5px;
     cursor: pointer;
 }

 .market-container {
    float: right;
    margin-top: 4px;
    margin-right: 19px;
 }

 .trade-amount-up {
    color: #6c8e3e;
 }

 .trade-amount-down {
    color: #83332f;
 }